@charset "utf-8";

// Font

// Initial variables

// Colors

// Sizes
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1rem;
$size-6: .5rem;

$size-7: 1.125rem;

// Global variables

//Font Sizes
h1 {
    font-size: $size-1 !important;
}

h2 {
    font-size: $size-2 !important;
}

h3 {
    font-size: $size-3 !important;
}

h4 {
    font-size: $size-4 !important;
}

h5 {
    font-size: $size-5 !important;
}

h6 {
    font-size: $size-6 !important;
}

@import "~bulma/bulma.sass";